

<%= form_for(@article) do |f| %>

<div class='show-article-title-container center'>
	<h1 class="profile_header"><%= f.text_field :title  %></h1>
	<div class="row">
	<div class="article_img small-11 small-centered columns center"><%= image_tag(@article.image.url) %></div>
	</div>
 </div>
 <div class='show-article-container'>
	<div  class="profile_header">Choose Picture<%= f.file_field :image, id: "image_file" %></div>
 
	<h4 class='show-article-title'>By <%= @article.user.name %></h4>


	
	<div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list %>
	</div>
		<p class='body'><%= f.text_area :body, :id => "text_area"  %><p>
	</div>

	<%= f.select :post_status, options_for_select(['save','post']), class: 'submission-type' %>
	<p class="center"><%= f.submit "Submit", class: 'button tiny right post'  %></p>


<% end %>

