
<div id="index-intro" class="center">
	<h2><%= link_to "All", articles_path  %>| Most Discussed | Top Rated | Most Recent</h2>
	<%= link_to "Create Article", new_article_path, class: 'button tiny create-link' %>
</div>

<div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w{s m l} do |tag| %>
    <%= link_to tag.name, tag_path(tag.name)%>
  <% end %>
</div>


<div id="articles" class="transitions-enabled container">
	<%= render @articles %>
</div>

<%= paginate @articles %>

