
<div id="index-intro" class="center">
	<h2>All | Most Discussed | Top Rated | Most Recent</h2>
	<%= link_to "Create Article", new_article_path, class: 'button tiny create-link' %>
</div>

<div id="tag_cloud">
  <% tag_cloud Article.tag_counts, %w{s m l} do |tag| %>
    <%= link_to tag.name, tag_path(tag.name)%>
  <% end %>
</div>


<div id="articles" class="transitions-enabled container">
		<% @articles.each do |article|  %>
				<%= link_to article_path(article) do %>
				<div class="row">
					<div class="article-card panel radius small-12 small-centered large-4 columns">
						<h3 class="center a-title"><%= article.title  %></h3>
						<%= image_tag(article.image.url(:medium)) %>
						<div class="panel-body">
							<p><%= article.user.name %></p> 
					</div>		
				<% end %>
				</div>	
			</div>	
		<% end %>
</div>


<%= link_to new_article_path do %>
		<div class="contribute_today" style="background-color: black;">
				<h2 class="center a-title">Contribute your ideas today.</h2>
		</div>		
<% end %>	