<div class='show-article-container'>
	<h1 class='title center'><%= @article.title %></h1>
	<p class='body'><%= @article.body  %><p>
</div>

<div class='comment-container'>
	<h3>Comments</h3>
	<%= form_for [@article, @comment] do |f| %>
		<p><%= f.text_field :body  %><%= f.submit 'Post', class: 'button small' %></p>
	<% end %>

	<% @article.comments.each do |comment| %>
		<div class='row'>
			<div class='large-4 columns'><strong><%= comment.user.name %></strong></div>
			<div class='large-8 columns'><%= comment.body %></div>
		</div>
	<% end %>
</div>