<p><%= link_to "Back", articles_path  %></p>
<p><%= link_to "Delete", article_path(@article.id), :method => "delete" %> | <%= link_to "Edit", edit_article_path(@article.id) %></p>
<h1><%= @article.title  %></h1>
<p><%= @article.body  %><p>


<%= form_for [@article, @comment] do |f| %>
	<p><%= f.text_field :body  %><%= f.submit %></p>
<% end %>

<% @article.comments.each do |comment| %>
	<p><%= comment.body  %></p>
<% end %>