<div class='article-show-container'>

	<div class='article-title-container'>
		<h3 class='article-show-title'>
			<%= @article.title %>
		</h3>
		<p class='article-author-info'>Contributed by <%= link_to @article.user.name, @article.user, class: 'author-link' %> on <%= @article.created_at.strftime("%B %d, %Y") %>
		</p>
	</div>
	
	<div class='row'>
		<div class="large-10 small-9 columns">

			<div class='img-container'>
				<div class="article-img">
					<%= image_tag(@article.image.url) %>
				</div>
			</div>
		</div>

		<div class="large-2 small-3 columns">
			<div class='article-info-container'>
				<h5 class='info-header'>Tags</h5>
					<div class='info'></div>
				<h5 class='info-header'>Quality</h5>
					<div class='quality'>
					 	<%= render 'votes/vote' %>
					</div>
					 	<%= form_for [@article, @vote], remote: true do |f| %>
							<p class='quality-form'><%= f.range_field :quality, :min=>0, :max=>100, :step=>10 %></p>
							<p class='form-value'></p>
							<% if @article.user_voted(current_user) %>
							<div class='text-center'>
								<%= f.submit "Vote", disabled: true, class: 'vote-button disabled' %>
							</div>
							<% else %>
								<div class="text-center">
									<%= f.submit "Vote", class: "vote-button" %>
							<% end %>
						<% end %>
  				</div>
			</div>
		</div>
	</div>

	<div class='article-body'>
		<p class='body'><%= @article.body %><p>
	</div>


	<div class='comments-container center'>
		<h3 class='comments-heading'><%= @article.comments.size %> Comments on "<%= @article.title %>"</h3>

		<div class='comment-list'>
			<%= render @comments %>
		</div>
		<div class='post-comment'>
			<%= render 'comments/comment_form' %>
		</div>
	</div>
</div>
<style type="text/css">
	.clear {
		clear: both;
	}
</style>

