<div class='show-article-container'>
	<h1><%= @article.title  %></h1>
	<p><%= @article.body  %><p>
</div>

<div class='comment-container'>
	<%= form_for [@article, @comment] do |f| %>
		<p><%= f.text_field :body  %><%= f.submit %></p>
	<% end %>

	<% @article.comments.each do |comment| %>
		<p><strong><%#= comment.user.name %></strong>: <%= comment.body %></p>
	<% end %>
</div>