<div class='article-show-container'>
	
	<div class='row'>
		<div class="large-10 small-8 columns">
			<div class='article-title-container'>
				<h3 class='article-show-title'>
					<%= @article.title %>
				</h3>
				<p class='article-author-info'>Contributed by <%= link_to @article.user.name, @article.user, class: 'author-link' %> on <%= @article.created_at.strftime("%B %d, %Y") %>
				</p>
			</div>

			<div class='img-container'>
				<div class="article-img">
					<%= image_tag(@article.image.url) %>
				</div>
			</div>
			<p class='body'><%= @article.body  %><p>
		</div>

		<div class="large-2 small-4 columns">
			<div class='article-info-container'>
				<h5 class='info-header'>Leagues</h5>
					<div class='info'></div>
				<h5 class='info-header'>Players</h5>
					<div class='info'></div>
				<h5 class='info-header'>Teams</h5>
					<div class='info'></div>
			</div>
		</div>
	</div>

	<div class='comments-container center'>
		<h3 class='comments-heading'><%= @article.comments.size %> Comments on "<%= @article.title %>"</h3>

		<div class='comment-list'>
			<%= render @comments %>
		</div>
		<div class='post-comment'>
			<%= render 'comments/comment_form' %>
		</div>
	</div>
</div>

