<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div clas="center_div">
  <div class="field">
    <div class="reg_label"><%= f.label :email %></div>
    <div class="reg_input"><%= f.text_field :email %></div>
  </div>
  <div class="field">
    <div class="reg_label"><%= f.label :password %></div>
    <div class="reg_input"><%= f.password_field :password %></div>
  </div>
  <div class="field">
    <div class="reg_label"><%= f.label :password_confirmation %></div>
    <div class="reg_input"><%= f.password_field :password_confirmation %></div>
  </div>
  <div class="actions">
    <div class="uk-text-center"><%= f.submit "sign up", class: "submit_btn" %></div>
  </div>
<% end %>

</div>
