<div class="row">
  <div class="large-4 columns">
  	<div class='profile-header'>
	  	<h1 class="profile_pic center"><%= image_tag @user.avatar.url(:medium) %></h1>
	  	<h1 class="profile-name center"><%= @user.name  %></h1>
  	</div>
  </div>
  <div class='large-8 columns'>
  	<div class='user-info'>
	  	<div class='user-nav'>
		  	<p class='user-about-link user-link'>&nbsp;About&nbsp;</p>
		  	<p class='user-link'>|</p>
		  	<p class='user-stats-link user-link'>&nbsp;Stats&nbsp;</p>
	  	</div>
  		<div class='user-card'>
	  		<div class='user-description'>
	  			<p><%= @user.description %></p>
	  		</div>
  		<div class='user-stats'>
  			<p>stats</p>
  		</div>
  	</div>
	</div>
</div>

<% if @user == current_user && @saved_articles.present? %>
	<div class='pending-articles'>
		<h4>Pending Articles</h4>
		<% @saved_articles.each do |article| %>
		<p class='saved-article-link'><% link_to article.title, edit_article_path(article) %></p>
		<% end %>
	</div>
<% end %>

<div class='user-contributions center'>
		<h4>Contributions <br><small><%= @user.name %> has <%= @articles.count %> contributions</small></h4>

	<div id="articles" class="transitions-enabled container">
			<% @articles.each do |article|  %>
					<%= link_to article_path(article) do %>
					<div class="row">
						<div class="article-card panel radius small-12 small-centered large-4 columns">
							<h3 class="center a-title"><%= article.title  %></h3>
							<%= image_tag(article.image.url(:medium)) %>
							<div class="panel-body">
								<p><%= article.user.name %></p> 
						</div>		
					<% end %>
					</div>	
				</div>	
			<% end %>
	</div>



</div>







