<div class="row">
  <div class="large-11 large-centered columns">
  	<h1 class="profile_header"><%= image_tag @user.avatar.url(:medium) %></h1>
  	<h1 class="profile_header"><%= @user.name  %></h1>
  	<div class="progress">
		  <span class="meter"  style="width: 40%"></span>
		</div>
  	<div class="user_description">
  		<%= @user.description  %>
  	</div>
		<h1>Stats</h1>	
		<h3>Quality</h3>	
		<div class="progress large-6">
		  <span class="meter" style="width: 60%">60%</span>
		</div>
		<h3>Followers</h3>	
		<div class="progress large-6">
		  <span class="meter" style="width: 70%">70%</span>
		</div>
		<h3>Boosts</h3>	
		<div class="progress large-6">
		  <span class="meter" style="width: 50%">50%</span>
		</div>	
		<h3>Shares</h3>	
		<div class="progress large-6">
		  <span class="meter" style="width: 10%">10%</span>
		</div>
		<h3>Shares</h3>	
		<div class="progress large-6">
		  <span class="meter" style="width: 25%">25%</span>
		</div>
		<h1>Contributions</h1>
		<%=  @articles.each do |article| %>
			<h1><%= article.title %></h1>
		<% end %>

  </div>
</div>	
