<div class="row">
  <div class="large-3 columns">
  	<div class='profile-header'>
	  	<h1 class="profile_pic center"><%= image_tag @user.avatar.url(:medium) %></h1>
	  	<h1 class="profile-name center"><%= @user.name  %></h1>
  	</div>
  </div>
  <div class='large-9 columns'>
  	<div class='user-nav'>
	  	<%= link_to 'About', '#', class: 'user-link'  %> |
	  	<%= link_to 'Stats', '#', class: 'user-link' %>
  	</div>
  	<div class='user-card'>
  		<div class='user-description'>
  			<p>description</p>
  		</div>
  		<div class='user-stats'>
  			<p>stats</p>
  		</div>
		</div>
	</div>
</div>

<div class='user-contributions center'>
		<h4>Contributions <br><small><%= @user.name %> has <%= @articles.count %> contributions</small></h4>
		<%  @articles.each do |article| %>
			<p><%= link_to article.title, article %></p>
		<% end %>
</div>






