<div class='header'>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <div class='from-the-crowd-container'>
          <a href='<%= root_path %>' class='home-link'><h1 class='from-the-crowd'>from the <span class='crowd'>Crowd</span></h1></a>
        </div>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <% if current_user %>
              <li class='header-link'><%= link_to "New Article", new_article_path %></li>
              <li class='header-link'><%= link_to "Profile", current_user %></li>
              <li class='header-link'><%= link_to "Sign Out", logout_path %></li>
          <% else %>
              <li class='header-link'><%= link_to "Articles", articles_path %></li>
              <li class='header-link'><%= link_to "Sign Up", new_user_path %></li>
              <li class='header-link'><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
    </section>
  </nav>
</div>