<button class="uk-button-large menu_button" data-uk-offcanvas="{target:'#my-id'}"><span class="glyphicon glyphicon-th-list"></span>From the Crowd</button>

		<!-- This is the off-canvas sidebar -->
		<div id="my-id" class="uk-offcanvas">
		    <div class="uk-offcanvas-bar">
		        <ul class="uk-nav uk-nav-offcanvas uk-text-right" data-uk-nav>
		        	<% if current_user %>
		        			<li><%= link_to "Your Profile", user_path(current_user) %></li>
									<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
									<li><%= link_to 'Logout', :logout, method: :post %></li>
								<% else %>
									<li><%= link_to 'Register', new_user_path %></li>
									<li><%= link_to 'Login', :login %></li>
								<% end %>
		        </ul>
		    </div>
		</div>