<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag  "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "From The Crowd", root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <ul>
            <% if current_user %>
                  <li><%= link_to "#{current_user.name}'s Profile", current_user %></li>
                  <li><%= link_to "Sign Out", logout_path %></li>
              <% else %>
                  <li><%= link_to "Sign Up", new_user_path %></li>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
            </ul>
    </ul>
  </section>
</nav>

        <!-- <header>
            <ul>
              <% if current_user %>
                  <li><%= link_to "#{current_user.name}'s Profile", current_user %></li>
                  <li><%= link_to "Sign Out", logout_path %></li>
              <% else %>
                  <li><%= link_to "Sign Up", new_user_path %></li>
                  <li><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
            </ul>
        </header>   -->  

    <%= render 'layouts/alerts' %>
    <%= yield %>
    
  </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>





