<!DOCTYPE html>
<html>
	<head>
	  <title>FromTheCrowd</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- This is the button toggling the off-canvas sidebar -->
			<%= render "layouts/off_canvas_menu"  %>

	
	<div>
		
	</div>

	<%= yield %>

	</body>
</html>
